.uk-dotnav {
  margin-top: 60px;
  margin-left: -$global-margin;

  > * {
    padding-left: $global-margin;

    > * {
      border-radius: 0;
      border: 2px solid $global-border;

      &:focus,
      &:hover {
        background: transparent;
        border-color: $global-primary-background;
      }
    }

    &.uk-active {
      > * {
        background: $global-primary-background;
        border-color: $global-primary-background;
      }
    }
  }
}

@media (max-width: $breakpoint-small-max) {
  .uk-dotnav {
    margin-top: 30px;
  }
}
