$global-font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;

/*COLORS*/
$global-color: #333333;
$global-primary-background: #e31e24;
$global-secondary-background: #2b2c2e;
$global-third-background: #eaeef1;
$global-fourth-background: #f4f8fb;
$global-menu-color: #394046;
$global-inverse-color: #fff;
$global-muted-color: #9f9f9f;
$global-muted-background: #f5f5f5;
$global-border: #e0e0e0;
$form-focus-border: #9f9f9f;
$form-placeholder-color: #bebebe;
$global-link-color: $global-primary-background;
$global-link-hover-color: darken($global-primary-background, 10%);
$global-blue-color: #45a2f8;
$global-blue-hover-color: darken($global-blue-color, 10%);

/*BREAKPOINTS*/
$breakpoint-xsmall: 480px;
$breakpoint-small: 768px;
$breakpoint-medium: 960px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1400px;
$breakpoint-xxsmall-max: ($breakpoint-xsmall - 1);
$breakpoint-xsmall-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);

/*FONT-SIZE*/
$global-xxlarge-font-size: 50px;
$global-xlarge-font-size: 35px;
$global-large-font-size: 25px;
$font-size-medium: 18px;
$global-font-size: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$base-small-font-size: $font-size-xsmall;
$font-size-xxsmall: 10px;

$container-max-width: 1320px;

$grid-medium-gutter-horizontal: 20px;
$grid-medium-gutter-vertical: $grid-medium-gutter-horizontal;
$grid-large-gutter-horizontal: 70px;
$grid-large-gutter-horizontal-l: 100px;

$global-border-radius: 2px;
$global-transition: 0.1s ease-in-out;
$form-radio-checked-background: transparent;
$form-radio-checked-focus-background: transparent;
$form-radio-checked-icon-color: #000;
$form-radio-border: $global-border;
$form-radio-focus-border: $global-border;
$form-radio-checked-border: $global-border;
$internal-form-radio-image: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iNSIgY3k9IjUiIHI9IjUiIGZpbGw9ImJsYWNrIi8+Cjwvc3ZnPgo=";
$internal-form-select-image: "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDEwIDUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjUgMC41TDUgNC41TDkuNSAwLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K";
