.catalog-item {
  margin-left: -70px;
  line-height: 1.6;

  &__col {
    width: 360px;
    padding-left: 70px;
    box-sizing: content-box;

    &--params {
      width: 300px;
    }

    &--gallery {
      flex-grow: 1;
      width: auto;
      max-width: 500px;
      padding-right: 15px;
    }
  }

  &__param {
    line-height: 1.2;
  }

  &__param-title {
    width: 140px;
  }

  &__availability {
    margin-top: 30px;
    padding: $global-margin $global-margin $global-small-gutter;
    line-height: 1;
  }

  &__price,
  &__old-price {
    font-size: $font-size-medium;
    line-height: 1.2;
  }

  &__old-price {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 2px;
      margin-top: -1px;
      background: $global-primary-background;
    }
  }

  &__price {
    span {
      font-size: 40px;
      font-weight: 700;
      color: $global-primary-background;
    }
  }

  &__btn {
    padding: 0 20px;
  }
}

@media (max-width: $breakpoint-large-max) {
  .catalog-item {
    margin-left: -40px;

    &__col {
      padding-left: 40px;
    }
  }
}

@media (max-width: $breakpoint-medium-max) {
  .catalog-item {
    &__col {
      order: 1;

      &--params {
        order: 2;
        margin-top: 30px;
        width: 100%;
      }
    }

    &__availability {
      max-width: 300px;
    }
  }
}

@media (max-width: $breakpoint-small-max) {
  .catalog-item {
    &__col {
      width: 240px;

      &--params {
        width: 100%;
      }
    }
  }
}

@media (max-width: $breakpoint-xsmall-max) {
  .catalog-item {
    &__col {
      width: 100%;
    }
  }
}
