h2 Запчасти для спецтехники

.uk-grid(class=(textClass !== "vertical")?"uk-child-width-1-2@s":"")
    .uk-margin-bottom
        | Компания CARRARO создана в 1930 году и является одним из крупнейших мировым производителей трансмиссий для
        | сельскохозяйственной, строительной, погрузочной и горно-добывающей техники.Заводы CARRARO по производству
        | компонентов для трансмиссий, а также трансмиссий в сборе расположены в Италии (7 заводов), Германии, США,
        | Аргентине, Бразилии и Индии.
    .uk-margin-bottom
        .special-text
            | Компания CARRARO создана в 1930 году и является одним из крупнейших мировым производителей трансмиссий
            | для сельскохозяйственной, строительной, погрузочной и горно-добывающей техники. Заводы CARRARO по
            | производству компонентов для трансмиссий, а также трансмиссий в сборе расположены в Италии (7 заводов),
            | Германии, США, Аргентине, Бразилии и Индии.
