extends ../layouts/main

block vars
    -
        var slides = [
            {
                backgroundImg: "./img/banners/1.jpg",
                title: "<span>Ошибка 404</span><br/>Страница не найдена",
                text: "К сожалению страница не найдена или не существует,<br/>пожалуйста перейдите на главную страницу",
                btns: [
                    {
                        title: "На главную",
                        url: "./"
                    }
                ]
            }
        ];

block content
    include ../includes/slider/big-slider
