extends ../layouts/default
include ../mixins/loremText

block vars
    - var title = 'Статьи';

block main-section

    section.main-wrapper__section
        .uk-container
            .uk-margin-large-bottom
                include ../includes/articles/articles

    section.main-wrapper__section.main-wrapper__section--border
        .uk-container
            +loremText(true, "uk-child-width-1-2@s")
