extends ../layouts/default

block vars
    - var breadcrumbs = [{title: "Каталог запчастей", url: "/catalog.html"}];
    - var title = "Маслянный насос";
    -
        var good = {
            info: [
                {key: "№ производителя", value: "20K-23-31290"},
                {key: "Марка", value: "Komatsu"}
            ],
            availability: [
                {title: "Екатеринбург", value: 'в наличии'},
                {title: "Екатеринбург 2", value: 'в поставке'},
                {title: "Москва", value: 'в наличии'},
                {title: "Санкт-Петербург", value: 'в наличии'},
            ],
            basic: [
                {title: "Максимальная мощность, кВт", value: "1,5"},
                {title: "Основная мощность, кВт", value: "1,3"},
                {title: "Напряжение", value: "220 В"},
                {title: "Тип запуска", value: "Ручной"},
            ],
            sizes: [
                {title: "Высота", value: "720"},
                {title: "Ширина", value: "492"},
                {title: "Глубина", value: "655"},
                {title: "Вес", value: "30 кг"},
            ]
        }

block main-section
    section.main-wrapper__section
        .uk-container
            .uk-grid.uk-flex-between.uk-child-width-1-3.catalog-item
                .catalog-item__col.catalog-item__col--gallery
                    include ../includes/catalog-item/gallery
                .catalog-item__col.catalog-item__col--params
                    each item in good.info
                        .uk-grid.uk-flex-nowrap.uk-margin-small.catalog-item__param
                            .catalog-item__param-title=item.key + ":"
                            .uk-text-bold=item.value
                    .catalog-item__availability.uk-section-muted
                        .uk-margin-bottom Наличие:
                        ul.params.params--small
                            each item in good.availability
                                li.params__item
                                    .params__title=item.title
                                    .params__value=item.value

                .catalog-item__col
                    include ../includes/catalog-item/buttons

            .uk-margin-medium-top
                include ../includes/catalog-item/tabs

    section.main-wrapper__section
        .uk-container
            .uk-margin-medium-top.uk-margin-large-bottom
                ul.uk-tab.uk-tab--small(uk-tab)
                    li.uk-active
                        a(href="") Похожие товары
                    li
                        a(href="") Похожие товары

                ul.uk-switcher
                    li
                        include ../includes/popular/popular
                    li
                        include ../includes/popular/popular
