extends ../layouts/default

block vars
    - var title = 'Каталог запчастей';
    - var textClass = "horizontal"

block main-section
    section.main-wrapper__section
        .uk-container
            include ../includes/catalog/catalog

    section.main-wrapper__section.main-wrapper__section--border
        .uk-container
            .uk-margin-bottom
                include ../includes/articles/text
