extends ../layouts/default

block vars
    - var title = 'Контакты';
    - var cities = ['Екатеринбург', 'Москва', 'Барнаул', 'Вологда', 'Казань', 'Краснодар', 'Киров', 'Нижний Новгород', 'Орел', 'Пермь', 'Ростов-на-Дону', 'Севастополь'];

block main-section

    section.main-wrapper__section
        .uk-container
            .uk-grid.uk-margin-medium-bottom
                each city in cities
                    .contacts-item(class="uk-width-1-2 uk-width-1-3@s uk-width-1-4@m")
                        .contacts-item__city г.&nbsp;
                            span= city
                        .contacts-item__phone
                            a(href="telto: 88006002020") <span>8 800</span> 600 20 20
                        a(href="mailto: example@zemlekop.pro") example@zemlekop.pro

    section.main-wrapper__section
        .uk-container
            div
                .contacts-map
                    .contacts-map__text
                        .contacts-map__city г. Екатеринбург
                        | ул. Приемная 86, оф.57
                        .contacts-map__phone
                            a(href="telto: 88006002020") 8 800 600 20 20
                        a(href="mailto: example@zemlekop.pro") example@zemlekop.pro

                    .contacts-map__map
                        |<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abfc8abbb818df07394dc2c6d3ed90aa3e6bc35d73b41ca4186269c7275587499&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
