include select

mixin contact(city, numberHref, number, select)
    .main-header__contact
        if select
            +select(["Калининград", "Омск", city], 2, "main-header__contact-city")
        else
            .main-header__contact-city= city
        .main-header__contact-number
            a(href="telto: " + numberHref)!= number
