mixin loremText(title, blockClass)
    if title
        h2 Запчасти для спецтехники

    .uk-grid(class=blockClass)
        .uk-margin-medium-bottom
            | Компания CARRARO создана в 1930 году и является одним из крупнейших мировым производителей трансмиссий для
            | сельскохозяйственной, строительной, погрузочной и горно-добывающей техники.Заводы CARRARO по производству
            | компонентов для трансмиссий, а также трансмиссий в сборе расположены в Италии (7 заводов), Германии, США,
            | Аргентине, Бразилии и Индии.
        .uk-margin-medium-bottom
            blockquote
                | Компания CARRARO создана в 1930 году и является одним из крупнейших мировым производителей трансмиссий
                | для сельскохозяйственной, строительной, погрузочной и горно-добывающей техники. Заводы CARRARO по
                | производству компонентов для трансмиссий, а также трансмиссий в сборе расположены в Италии (7 заводов),
                | Германии, США, Аргентине, Бразилии и Индии.
