@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import "./helpers/variables";

@import "../../node_modules/uikit/src/scss/variables-theme";
@import "../../node_modules/uikit/src/scss/mixins-theme";
@import "../../node_modules/uikit/src/scss/uikit-theme";

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;

  &__container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__title-block {
    margin-top: 35px;
    background: $global-third-background;
  }

  &__section {
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 1.9;

    &--border {
      padding-top: 60px;
      border-top: 1px solid $global-border;
    }

    &--color {
      padding-top: 60px;
      padding-bottom: 60px;
      background-color: $global-fourth-background;
    }

    &--last-big {
      margin-bottom: 150px;
    }
  }

}

.column-text {
  &__img {
    margin-top: -30px;
  }
}

.uk-icon-card {
  svg {
    position: relative;
    top: -1px;
    left: -2px;
  }
}

.uk-flex-baseline {
  align-items: baseline;
}

.uk-iconnav {
  margin-left: -$global-margin;

  > * {
    padding-left: $global-margin;

    > a {
      &:hover,
      &:focus {
        color: $global-primary-background;
      }
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .main-page {
    .main-header__top {
      padding-top: 20px;
    }
  }
}

@media (max-width: $breakpoint-small-max) {
  .main-wrapper {
    &__container {
      padding-top: 73px;
    }

    &__title-block {
      margin-top: 0;
    }

    &__section {
      margin-top: $global-gutter + 10px;
      margin-bottom: $global-gutter + 10px;

      &--border {
        padding-top: $global-gutter + 10px;
      }

      &--color {
        padding-top: $global-gutter + 10px;
        padding-bottom: $global-gutter + 10px;
      }

      &--last-big {
        margin-bottom: 60px;
      }
    }
  }

  .main-page {
    .main-wrapper {
      &__container {
        padding-top: 0;
      }
    }
  }

  .main-title {
    margin-top: -20px;
  }

  .column-text {
    &__img {
      margin-top: 0;
    }
  }
}

@import "helpers/typography";
@import "components/header/header";
@import "components/header/top-menu";
@import "components/header/header-card";
@import "components/footer/footer";
@import "components/header/over-header";
@import "components/breadcrumbs/breadcrumbs";
@import "components/form/form";
@import "components/select/select";
@import "components/spinbutton/spinbutton";
@import "components/modal/modal";
@import "components/banner/banner";
@import "components/slider/slider";
@import "components/tabs/tabs";
@import "components/lightbox/lightbox";
@import "components/articles/articles";
@import "components/catalog/catalog";
@import "components/catalog/catalog-filter";
@import "components/catalog/catalog-item";
@import "components/pagination/pagination";
@import "components/contacts/contacts";
@import "components/card/card";
@import "components/popular/popular";
@import "components/gallery/gallery";
@import "components/params/params";
@import "components/404/404";
