.top-menu {
  background: $global-secondary-background;
  color: $global-inverse-color;

  &__nav {
    > li {
      > a {
        min-height: 70px;
        padding: 0 30px;
        font-weight: 500;
        color: inherit;
      }
    }

    > li:hover > a,
    > li > a:focus {
      color: inherit;
      opacity: 0.7;
    }

    > li > a.uk-open {
      color: inherit;
      opacity: 1;
    }

    select.main-header__contact-city {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgNSA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMy45NTkxIDEuNTM2MDVMMi40MjMwNiA0LjE5NjU2TDAuODg3MDA5IDEuNTM2MDVMMy45NTkxIDEuNTM2MDVaIiBmaWxsPSIjZmZmZmZmIi8+Cjwvc3ZnPgo=")
    }
  }

  &__parent-item {
    position: relative;
    margin-right: $global-gutter;
    background: $global-menu-color;
  }

  &__parent-text {
    margin-left: $global-gutter;
  }

  &__dropdown {
    width: 100%;
    padding: 0 $global-gutter $global-margin;
    background: $global-menu-color;
    color: inherit;
  }

  &__dropdown-nav {
    > li > a {
      padding: 8px 0;
      color: inherit;

      &:focus,
      &:hover {
        color: inherit;
        opacity: 0.7;
      }
    }
  }
}

@media (max-width: $breakpoint-large-max) {
  .top-menu {
    &__nav {
      > li {
        > a {
          padding: 0 14px;
        }
      }
    }

    &__parent-item {
      margin-right: $global-small-gutter;
    }

    &__parent-text {
      margin-left: $global-small-gutter;
    }

    &__dropdown {
      padding: 0 $global-small-gutter $global-small-gutter;
    }
  }
}

@media (max-width: $breakpoint-medium-max) {
  .top-menu {
    &__parent-item {
      margin-right: 0;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .top-menu {
    &__nav {
      display: flex !important;
    }
  }
}

@media (max-width: $breakpoint-small-max) {
  .top-menu {
    &__nav {
      position: absolute;
      top: 0;
      left: -$global-gutter;
      right: -$global-gutter;
      z-index: 1020;
      display: block;
      max-height: calc(100vh - 73px);
      overflow-y: auto;
      background: $global-secondary-background;

      > li {
        padding: 0 $global-gutter;

        > a {
          min-height: 50px;
          margin-left: -$global-gutter;
          margin-right: -$global-gutter;
          padding: 0 $global-gutter;
          justify-content: space-between;
        }
      }
    }

    &__parent-text {
      margin-left: 0;
    }
    
    &__dropdown {
      position: relative;
      padding-left: $global-gutter;
      padding-right: $global-gutter;
      padding-bottom: 5px;
    }
  }
}

@media (max-width: $breakpoint-xsmall-max) {
  .top-menu {
    &__nav {
      left: -$global-small-gutter;
      right: -$global-small-gutter;

      > li {
        padding: 0 $global-small-gutter;

        > a {
          margin-left: -$global-small-gutter;
          margin-right: -$global-small-gutter;
          padding: 0 $global-small-gutter;
          justify-content: space-between;
        }
      }
    }

    &__dropdown {
      padding-left: $global-small-gutter;
      padding-right: $global-small-gutter;
    }
  }
}
