.header-card
    a(href="./card.html").header-card__wrap
        span.uk-icon.uk-icon-card.header-card__icon
            svg(width="15" height="14" viewBox="0 0 15 14" xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd" clip-rule="evenodd"
                    d="M4 0H0V1H3V11H4H14V10H4V9H5H6H14V8V3H15V2H4V1V0ZM13 3H12V8H13V3ZM11 3V8H10V3H11ZM9" +
                    " 3H8V8H9V3ZM7 3V8H6V3H7ZM5 3H4V8H5V3ZM6 12V14H4V12H6ZM13 14V12H11V14H13Z")
        span.header-card__info
            .uk-text-truncate В корзине: <span class="header-card__number">99</span>
            .uk-text-truncate На сумму: 1520 р.
