include ../../mixins/contact

header.main-header
    .main-header__top
        .uk-container
            .uk-grid.uk-flex-bottom.main-header__grid
                .main-header__left
                    .uk-grid.uk-flex-bottom.main-header__grid
                        div(class="uk-hidden@m")
                            button.uk-button.main-header__toggle(uk-navbar-toggle-icon uk-toggle="target: .top-menu__nav; animation: uk-animation-fade")
                        div
                            a(href="./index.html" title="zemlekop.pro").main-header__logo
                                img(src="./img/logo.png" alt="zemlekop.pro")

                .uk-flex-1.main-header__right
                    .uk-grid.uk-flex-bottom.main-header__grid
                        .uk-flex-1(class="uk-visible@m")
                            include ../catalog/catalog-search

                        div(class="uk-visible@m")
                            +contact("Екатеринбург", "+73432887587", "+7 <span>(343)</span> 288-75-87")

                        div(class="uk-visible@m")
                            +contact("Москва", "+74996538801", "+7 <span>(499)</span> 653-88-01")

                        div(class="uk-visible@m")
                            +contact("Санкт-Петербург", "+78124486141", "+7 <span>(812)</span> 448-61-41", true)

                        .main-header__social(class="uk-visible@m")
                            a.uk-icon.social-icon(href="#")
                                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M12 0C5.3725 0 0 5.3725 0 12C0 18.6275 5.3725 24 12 24C18.6275 24 24 18.6275 24 12C24 5.3725 18.6275 0 12 0ZM16.615 13.5388C16.615 13.5388 17.6763 14.5863 17.9375 15.0725C17.945 15.0825 17.9487 15.0925 17.9513 15.0975C18.0575 15.2762 18.0825 15.415 18.03 15.5188C17.9425 15.6912 17.6425 15.7763 17.54 15.7838H15.665C15.535 15.7838 15.2625 15.75 14.9325 15.5225C14.6788 15.345 14.4288 15.0538 14.185 14.77C13.8213 14.3475 13.5063 13.9825 13.1888 13.9825C13.1484 13.9824 13.1083 13.9888 13.07 14.0013C12.83 14.0788 12.5225 14.4213 12.5225 15.3337C12.5225 15.6188 12.2975 15.7825 12.1388 15.7825H11.28C10.9875 15.7825 9.46375 15.68 8.11375 14.2563C6.46125 12.5125 4.97375 9.015 4.96125 8.9825C4.8675 8.75625 5.06125 8.635 5.2725 8.635H7.16625C7.41875 8.635 7.50125 8.78875 7.55875 8.925C7.62625 9.08375 7.87375 9.715 8.28 10.425C8.93875 11.5825 9.3425 12.0525 9.66625 12.0525C9.72696 12.0518 9.78658 12.0363 9.84 12.0075C10.2625 11.7725 10.1838 10.2662 10.165 9.95375C10.165 9.895 10.1637 9.28 9.9475 8.985C9.7925 8.77125 9.52875 8.69 9.36875 8.66C9.43351 8.57064 9.51883 8.49818 9.6175 8.44875C9.9075 8.30375 10.43 8.2825 10.9488 8.2825H11.2375C11.8 8.29 11.945 8.32625 12.1488 8.3775C12.5613 8.47625 12.57 8.7425 12.5338 9.65375C12.5225 9.9125 12.5113 10.205 12.5113 10.55C12.5113 10.625 12.5075 10.705 12.5075 10.79C12.495 11.2537 12.48 11.78 12.8075 11.9963C12.8502 12.023 12.8996 12.0373 12.95 12.0375C13.0638 12.0375 13.4062 12.0375 14.3337 10.4463C14.6198 9.93407 14.8684 9.40185 15.0775 8.85375C15.0963 8.82125 15.1513 8.72125 15.2163 8.6825C15.2642 8.65804 15.3174 8.64561 15.3713 8.64625H17.5975C17.84 8.64625 18.0063 8.6825 18.0375 8.77625C18.0925 8.925 18.0275 9.37875 17.0112 10.755L16.5575 11.3538C15.6363 12.5613 15.6363 12.6225 16.615 13.5388Z" fill="#2F2E2D")
                            a.uk-icon.social-icon(href="#")
                                svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M 12 0 C 5.376 0 0 5.376 0 12 C 0 18.624 5.376 24 12 24 C 18.624 24 24 18.624 24 12 C 24 5.376 18.624 0 12 0 z M 12 4.5 C 14.0368 4.5 14.29405 4.5085619 15.09375 4.5449219 C 15.89155 4.5806819 16.436663 4.7091313 16.914062 4.8945312 C 17.406562 5.0859913 17.825488 5.3423456 18.242188 5.7597656 C 18.658988 6.1771856 18.915422 6.5947506 19.107422 7.0878906 C 19.292822 7.5643506 19.418678 8.1097231 19.455078 8.9082031 C 19.491378 9.7078831 19.5 9.96324 19.5 12 C 19.5 14.0368 19.491378 14.291497 19.455078 15.091797 C 19.419278 15.890197 19.292822 16.435309 19.107422 16.912109 C 18.915422 17.405209 18.659688 17.823534 18.242188 18.240234 C 17.824788 18.657034 17.405209 18.913469 16.912109 19.105469 C 16.435309 19.290869 15.890297 19.418678 15.091797 19.455078 C 14.292097 19.491978 14.0368 19.5 12 19.5 C 9.96325 19.5 9.7083031 19.491378 8.9082031 19.455078 C 8.1097831 19.418678 7.5652506 19.290869 7.0878906 19.105469 C 6.5944506 18.913469 6.1771256 18.656834 5.7597656 18.240234 C 5.3424056 17.823734 5.0859912 17.405209 4.8945312 16.912109 C 4.7091313 16.435309 4.5812819 15.890297 4.5449219 15.091797 C 4.5079619 14.292097 4.5 14.0368 4.5 12 C 4.5 9.96324 4.5079619 9.7078831 4.5449219 8.9082031 C 4.5812819 8.1097831 4.7091312 7.5646506 4.8945312 7.0878906 C 5.0859912 6.5944506 5.3423456 6.1765256 5.7597656 5.7597656 C 6.1771856 5.3430056 6.5944506 5.0859913 7.0878906 4.8945312 C 7.5643506 4.7091313 8.1097831 4.5812819 8.9082031 4.5449219 C 9.7083031 4.5079619 9.96325 4.5 12 4.5 z M 12 5.8515625 C 9.99805 5.8515625 9.7612631 5.8581712 8.9707031 5.8945312 C 8.2394831 5.9277713 7.842125 6.0493837 7.578125 6.1523438 C 7.227365 6.2880638 6.9771637 6.4502106 6.7148438 6.7128906 C 6.4525238 6.9755706 6.2906169 7.2260119 6.1542969 7.5761719 C 6.0522969 7.8409519 5.9297844 8.23753 5.8964844 8.96875 C 5.8607244 9.75997 5.8515625 9.9971 5.8515625 12 C 5.8515625 14.0028 5.8601244 14.24065 5.8964844 15.03125 C 5.9297244 15.76245 6.0513369 16.159828 6.1542969 16.423828 C 6.2900169 16.774028 6.4521637 17.022856 6.7148438 17.285156 C 6.9775237 17.547456 7.227965 17.711356 7.578125 17.847656 C 7.842245 17.950556 8.2394831 18.072169 8.9707031 18.105469 C 9.7610231 18.141869 9.99715 18.148438 12 18.148438 C 14.0029 18.148438 14.24065 18.141869 15.03125 18.105469 C 15.76245 18.072269 16.159828 17.950656 16.423828 17.847656 C 16.773928 17.711356 17.024709 17.547256 17.287109 17.285156 C 17.549409 17.023056 17.711256 16.774028 17.847656 16.423828 C 17.949956 16.159728 18.072169 15.76245 18.105469 15.03125 C 18.141769 14.23995 18.148438 14.0028 18.148438 12 C 18.148437 9.9971 18.141769 9.75997 18.105469 8.96875 C 18.072169 8.23753 17.950556 7.8401719 17.847656 7.5761719 C 17.711256 7.2260119 17.549709 6.9752106 17.287109 6.7128906 C 17.024409 6.4505706 16.773928 6.2880638 16.423828 6.1523438 C 16.159028 6.0503438 15.76245 5.9278312 15.03125 5.8945312 C 14.24005 5.8587712 14.002 5.8515625 12 5.8515625 z M 16.003906 7.0957031 C 16.181906 7.0957731 16.356006 7.1490969 16.503906 7.2480469 C 16.651906 7.3469969 16.767837 7.4878637 16.835938 7.6523438 C 16.903938 7.8168238 16.921519 7.997305 16.886719 8.171875 C 16.851919 8.346435 16.766525 8.5069925 16.640625 8.6328125 C 16.514625 8.7586325 16.354287 8.8442463 16.179688 8.8789062 C 16.005087 8.9135563 15.824556 8.896315 15.660156 8.828125 C 15.495756 8.759945 15.354659 8.6441437 15.255859 8.4960938 C 15.157059 8.3480537 15.103516 8.1740938 15.103516 7.9960938 C 15.103716 7.7574938 15.198387 7.528055 15.367188 7.359375 C 15.535888 7.190695 15.765306 7.0958131 16.003906 7.0957031 z M 12 8.1484375 C 14.127 8.1484375 15.851562 9.873 15.851562 12 C 15.851563 14.127 14.127 15.851562 12 15.851562 C 9.87301 15.851562 8.1484375 14.127 8.1484375 12 C 8.1484375 9.873 9.87301 8.1484375 12 8.1484375 z M 12 9.5 C 10.6193 9.5 9.5 10.6193 9.5 12 C 9.5 13.3807 10.6193 14.5 12 14.5 C 13.3807 14.5 14.5 13.3807 14.5 12 C 14.5 10.6193 13.3807 9.5 12 9.5 z " fill="#2F2E2D")

                        .main-header__call-wrap
                            button.uk-button.uk-button-primary.main-header__call(type="button" uk-toggle="target: #modal-callback")
                                span(class="uk-hidden@l" uk-icon="receiver")
                                small(class="uk-visible@l") Обратный звонок

    include top-menu
