include ../../mixins/contact

header.main-header
    .main-header__top
        .uk-container
            .uk-grid.uk-flex-bottom.main-header__grid
                .main-header__left
                    .uk-grid.uk-flex-bottom.main-header__grid
                        div(class="uk-hidden@m")
                            button.uk-button.main-header__toggle(uk-navbar-toggle-icon uk-toggle="target: .top-menu__nav; animation: uk-animation-fade")
                        div
                            a(href="./index.html" title="zemlekop.pro").main-header__logo
                                img(src="./img/logo.png" alt="zemlekop.pro")

                .uk-flex-1.main-header__right
                    .uk-grid.uk-flex-bottom.main-header__grid
                        .uk-flex-1
                            include ../catalog/catalog-search

                        div
                            +contact("Санкт-Петербург", "+78124486141", "+7 <span>(812)</span> 448-61-41", true)

                        div(class="uk-visible@l")
                            +contact("Москва", "+74996538801", "+7 <span>(499)</span> 653-88-01")

                        div(class="uk-visible@l")
                            +contact("Екатеринбург", "+73432887587", "+7 <span>(343)</span> 288-75-87")

                        div
                            button.uk-button.uk-button-primary
                                small Заказать обратный звонок

    include top-menu
