.top-menu
    .uk-container
        nav.uk-navbar-container.uk-navbar-transparent(uk-navbar="mode: click")
            .uk-navbar-left
                ul.uk-navbar-nav.top-menu__nav(aria-hidden="false" hidden)
                    each item in mainMenu
                        if item.children
                            li.top-menu__parent-item
                                a.uk-navbar-toggle
                                    span(uk-navbar-toggle-icon class="uk-visible@m")
                                    span.top-menu__parent-text= item.title
                                    span(class="uk-hidden@m" uk-icon="icon: chevron-down")
                                .uk-navbar-dropdown.top-menu__dropdown(offset="0")
                                    ul.uk-nav.uk-navbar-dropdown-nav.top-menu__dropdown-nav
                                        each category in item.children
                                            li
                                                a(href=category.url ? category.url : '#')= category.title
                        else
                            li
                                if item.toggle
                                    a(uk-toggle href=item.url ? item.url : '#')= item.title
                                else
                                    a(href=item.url ? item.url : '#')= item.title

                    li(class="uk-hidden@m")
                        .uk-margin.uk-margin-small-top
                            +contact('Санкт-Петербург', '+7 <span>(812)</span> 448-61-41', true)

                    li(class="uk-hidden@m")
                        div.uk-margin.uk-margin-small-top
                            include search

                    li(class="uk-hidden@m")
                        div.uk-margin.uk-margin-small-top
                            button.uk-button.uk-button-primary Заказать обратный звонок

            .uk-navbar-right
                include card
