.uk-flex-top(id="modal-small" uk-modal)
    .uk-modal-dialog.uk-margin-auto-vertical.uk-modal-body.uk-modal-small
        button.uk-modal-close-default(type="button" uk-close)
        .uk-text-center
            |Просмотр наличия остатков  на складах доступен только авторизованным пользователям.
            .uk-margin-top
                a.uk-button.uk-button-primary(href="#") Авторизация
