block modal-vars

.uk-flex-top(id=modalID uk-modal class=modalClass)
    .uk-modal-dialog.uk-margin-auto-vertical.uk-modal-body
        button.uk-modal-close-outside(type="button" uk-close)
        h2.uk-modal-title
            block modal-title
        block modal-body
