extends main

block vars

block content
    .main-wrapper__title-block
        .breadcrumbs
            .uk-container
                ul.uk-breadcrumb.breadcrumbs__list
                    li
                        a(href="/") Главная
                    if breadcrumbs
                        each val, index in breadcrumbs
                            li
                                a(href=val.url)= val.title
                    li
                        span= title

        .uk-container
            div
                h1= title

    div
        block main-section
