-
    var mainMenu = [
        {title: 'Каталог запчастей', url: '/catalog', children: [
            {title: 'Шурупы'},
            {title: 'Болты'},
            {title: 'Маслянные насосы'}
        ]},
        {title: 'О компании', url: '/about'},
        {title: 'Статьи', url: '/articles'},
        {title: 'Оплата', url: '/payment'},
        {title: 'Доставка', url: '/delivery'},
        {title: 'Контакты', url: '/contacts'},
        {title: 'Личный кабинет', url: '/cabinet'}
    ]

block vars

doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width")
        title Землекоп
        link(rel="stylesheet" href="/styles/main.css")
        script(src="/js/uikit.min.js")
        script(src="/js/uikit-icons.min.js")
    body
        .main-wrapper
            include ../includes/header/header

            .main-wrapper__content
                block content

            include ../includes/footer/footer
