-
    var mainMenu = [
        {title: "Каталог запчастей", url: "/catalog.html", children: [
            {title: "Шурупы"},
            {title: "Маслянные насосы"},
            {title: "Болты"}
        ]},
        {title: "О компании", url: "/about.html"},
        {title: "Статьи", url: "/articles.html"},
        {title: "Оплата", url: "/payment.html"},
        {title: "Доставка", url: "/delivery.html"},
        {title: "Контакты", url: "/contacts.html"},
        {title: "Личный кабинет", url: "#modal-login", toggle: true}
    ]

block vars

doctype html
html(class=htmlClass)
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="keywords" content="")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width")
        title Землекоп
        link(rel="stylesheet" href="/styles/main.css")
        script(src="/js/uikit.min.js")
        script(src="/js/uikit-icons.min.js")
    body
        .main-wrapper
            include ../includes/header/header

            .main-wrapper__container
                block content

            include ../includes/footer/footer

        block modal
            include  ../includes/modal/login
            include  ../includes/modal/recover-password
            include  ../includes/modal/registration
